# Firebase Emulator
FIRESTORE_EMULATOR_HOST=firebase-emulator:8088
FIREBASE_AUTH_EMULATOR_HOST=firebase-emulator:9099
FIREBASE_STORAGE_EMULATOR_HOST=firebase-emulator:9199

# Pub/Sub Emulator
PUBSUB_EMULATOR_HOST=pubsub-emulator:8085

# GCP Project
GCP_PROJECT=ipotto-local

# ipo-api
ALLOWED_EMAIL=test@example.com
RUST_LOG=info

# ipo-browser
MOCK_SERVER_URL=http://html-mock-server:80

# ipo-result-checker
IPO_BROWSER_URL=http://ipo-browser:8081

# ipo-frontend
NEXT_PUBLIC_API_URL=http://ipo-api:8080
NEXT_PUBLIC_FIREBASE_AUTH_EMULATOR_HOST=firebase-emulator:9099
NEXT_PUBLIC_FIRESTORE_EMULATOR_HOST=firebase-emulator:8088
