.container {
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem;
  min-width: 20rem;
  max-width: 32rem;
}

.container::backdrop {
  background-color: rgba(17, 24, 39, 0.4);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}
